body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", verdana, sans-serif;
}

img {
    border: none;
}

br {
    clear: both;
}

em {
    font-style: normal;
    background: #c0e0a0;
}

#header {
    border-width: 60px 30px;
    border-radius: 95px 95px;
    font-weight: 900;
    margin-top: -95px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    background-color: #55acff;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 0px;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 5px;
}

#header li {
    display: inline;
}

#header a:link,
#header a:visited,
#header a:hover {
    color: #ffffff;
    padding: 4px 5px 5px 5px;
    text-decoration: none;
    margin-left: 4px;
}

#header a:hover {
    color: #ffff00;
}

#leftcontent {
    float: left;
    width: 40%;
    margin-left: 35px;
    margin-right:0px;
    margin-top: 15px;
    padding-bottom: 0px;
    line-height: 150%;
}

#leftcontent p {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#flags {
    float: right;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 33%;
    text-align: center;
    margin-left: 5px;
    margin-right: 25px;
    line-height: 150%;
}

#box {
    width: 88%;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#faabff));
    background: -moz-linear-gradient(left, #fff, #faabff);
    /* IE 5.5-7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFFFF, endColorStr=#FFFAABFF, GradientType=1);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFAABFF, GradientType=1)";
    border-width: 60px 30px;
    border-radius: 110px 35px;
    padding: 30px;
    margin: 0px;
    text-align: left;
}

#box ul {
  margin-left: 5px;
  padding-left: 15px;
  list-style: none;
}

#box ul li:before {
  content: "\00BB \0020";
}

h1 {
  font-size:150%;
  visibility: hidden;
  margin: 0; padding: 0;
}

h2 {
  font-size:120%;
}

h3 {
  font-size:100%;
}

#rightcontent p {
    font-size: 10px;
    margin-left: 0px;
}

#footer {
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 0;
    text-align: center;
}

#footer p {
    padding-top: 0;
    color: #888;
    margin-left: 30px;
    font-size: small;
    line-height: 150%;
}

pre {
    line-height: 100%;
    margin: 5px;
    margin-left: 20px;
}

#footer a {
    color: #888;
}

.indented {
    display: block;
    margin-left: 27px;
    margin-bottom: 10px;
}
