body
{
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", verdana, sans-serif;
}


img { border: none; }

br { clear: both; }

em { font-style: normal; background: #f9ccf5; }

#header
{
  font-weight: 900;
  margin-left: 30px;
  margin-right: 30px;
  display: block;
  background-color: #55bce5;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 10px;
}

#header ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 5px;
}

#header li { display: inline; }

#header a:link,
#header a:visited,
#header a:hover
{
  color: #ffffff;
  padding: 4px 5px 5px 5px;
  text-decoration: none;
  margin-left: 4px;
}

#header a:hover
{
  color: #ffff00;
}

#leftcontent
{
  float: left;
  width: 40%;
  margin-left: 35px;
  margin-right:0px;
  margin-top: 15px;
  padding-bottom: 0px;
  line-height: 150%;
}

#leftcontent p
{
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

#flags
{
  float: right;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 33%;
  text-align: center;
  margin-left: 5px;
  margin-right: 1px;
  line-height: 150%;
}

#box
{
  width: 90%;
  background-color: #ccff55;
  padding: 10px;
  margin: 0px;
  text-align: left;
  color: #222;
  border: 1px solid #ccc;
}

#box ul
{
  margin-left: 5px;
  padding-left: 15px;
  list-style: none;
}

#box ul li:before
{
  content: "\00BB \0020";
}

h1
{
  font-size:150%;
  visibility: hidden;
  margin: 0; padding: 0;
}

h2
{
  font-size:120%;
}

h3
{
  font-size:100%;
}

#rightcontent p
{
  font-size:10px;
  margin-left:0px;
}

#footer
{
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0;
  text-align: center;
}

#footer p
{
  padding-top: 0;
  color: #888;
  margin-left: 30px;
  font-size: small;
  line-height: 150%;
}

pre
{
  line-height: 100%;
  margin: 5px;
  margin-left: 20px;
}

#footer a
{
  color: #888;
}

.indented
{
  display: block;
  margin-left: 27px;
  margin-bottom: 10px;
}
