<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="speedcrunch, <i18n>calculator</i18n>" />
        <title><i18n>SpeedCrunch - fast and usable calculator</i18n></title>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../css/speedcrunch.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/niftyCorners.css" />
        <link rel="stylesheet" type="text/css" href="../css/niftyPrint.css" media="print" />
        <script type="text/javascript" src="../js/nifty.js"></script>
        <script type="text/javascript">
            window.onload=function(){
                if(!NiftyCheck())
                    return;
                Rounded("div#header","br bl","#fff","#48a2d4","smooth");
            }
        </script>
    </head>

    <body>

        <div id="header">
            <div>
                <ul>
                    <li><a href="index.html" title="<i18n>Home</i18n>"><i18n>Home</i18n></a></li>
                    <li><a href="download.html" title="<i18n>Try it out</i18n>"><i18n>Download</i18n></a></li>
                    <li><a href="features.html" title="<i18n>Learn more</i18n>"><i18n>Features</i18n></a></li>
                    <li><a href="screenshots.html" title="<i18n>See it in action</i18n>"><i18n>Screenshots</i18n></a></li>
                    <li><a style="color: #444444;" href="faq.html" title="<i18n>Frequently asked questions</i18n>"><i18n>FAQ</i18n></a></li>
                    <li><a href="http://groups.google.com/group/speedcrunch" title="<i18n>Discuss with other users</i18n>"><i18n>Forum</i18n></a></li>
                    <li><a href="http://speedcrunch.blogspot.com/" title="<i18n>Follow the development</i18n>"><i18n>Blog</i18n></a></li>
                </ul>
            </div>
        </div>

        <div id="leftcontent">

            <h1>SpeedCrunch</h1>

            <img src="../icons/icon.png" style="float: left;" alt="<i18n>icon</i18n>"/>
            <img src="../images/headline.png" alt="SpeedCrunch" />

            <p>
                <i18n>Here are some frequently asked questions (with answers):</i18n>
            </p>
            <p>
                <b><i18n>What is <tt>ans</tt>?</i18n></b>
            </p>

            <span class="indented">
                <p>
                    <i18n><tt>ans</tt> is a special variable which always holds the last calculation result.</i18n>
                    <i18n>You can use it to avoid typing the result again.</i18n>
                </p>

                <p>
                    <i18n>For example, for finding <tt>sin(pi/3)</tt>, you can do these steps:</i18n>
                </p>

                <ul>
                    <li><i18n>type <tt>pi/3</tt> and press Enter</i18n></li>
                    <li><i18n>type <tt>sin(ans)</tt> and press Enter</i18n></li>
                </ul>
            </span>

            <p>
                <b><i18n>How do I separate function parameters?</i18n></b>
            </p>

            <span class="indented">
                <p>
                    <i18n>When using functions that take more than one parameter, use semicolon ( <i>;</i> ) between all of them.</i18n>
                </p>

                <p>
                    <i18n>For example, for finding the arithmetic mean of <tt>2</tt>, <tt>5</tt> and <tt>7</tt> just follow this:</i18n>
                </p>

                <ul>
                    <li><i18n>type <tt>average(2;5;7)</tt> and press Enter</i18n></li>
                </ul>
            </span>

            <p>
                <b><i18n>I do not like the keypad.</i18n> <i18n>How do I hide it?</i18n></b>
            </p>

            <span class="indented">
                <p>
                    <i18n>Use menu <tt>View</tt>, <tt>Keypad</tt>.</i18n>
                </p>
                <p>
                    <i18n>If the keypad is hidden, clicking this menu item will make it visible again.</i18n>
                </p>
            </span>

            <p>
                <b><i18n>I found a bug! How can I report it?</i18n></b>
            </p>

            <span class="indented">
                <p>
                    <i18n>The best way is to report the bug as a new issue in our <a href="http://code.google.com/p/speedcrunch/issues/entry">issue tracker</a>.</i18n>
                    <i18n>Please check first that this bug has not been reported before.</i18n>
                </p>
                <p>
                    <i18n>Do not forget to include the information about the program version (click menu <tt>Help</tt>, <tt>About</tt>) and your operating system.</i18n>
                </p>
            </span>

            <p>&nbsp;</p>

        </div>

        <div id="flags">

            <p style="padding-bottom: 10px; margin-right: 20px; text-align: right;">
                <a href="../de_DE/faq.html" title="Deutsch (DE)"    ><img src="../flags/de.png" alt="Deutsch (DE)"    /></a>
                <a href="../es_ES/faq.html" title="Español (ES)"    ><img src="../flags/es.png" alt="Español (ES)"    /></a>
                <a href="../fr_FR/faq.html" title="Français (FR)"   ><img src="../flags/fr.png" alt="Français (FR)"   /></a>
                <a href="../it_IT/faq.html" title="Italiano (IT)"   ><img src="../flags/it.png" alt="Italiano (IT)"   /></a>
                <a href="../nl_NL/faq.html" title="Nederlands (NL)" ><img src="../flags/nl.png" alt="Nederlands (NL)" /></a>
                <a href="../pt_PT/faq.html" title="Português (PT)"  ><img src="../flags/pt.png" alt="Português (PT)"  /></a>
                <a href="../pt_BR/faq.html" title="Português (BR)"  ><img src="../flags/br.png" alt="Português (BR)"  /></a>
                <a href="../ru_RU/faq.html" title="Русский (RU)"    ><img src="../flags/ru.png" alt="Русский (RU)"    /></a>
                <a href="../en_US/faq.html" title="English (US)"    ><img src="../flags/us.png" alt="English (US)"    /></a>
            </p>

            <div id="box">
                <b><i18n>Help us!</i18n></b>
                <p>
                    <i18n>If you find a bug, please report it in our <a href="http://code.google.com/p/speedcrunch/issues/entry">issue tracker</a>.</i18n> <i18n>This will make sure that the report is not lost.</i18n>
                </p>
                <p>
                    <i18n>We will work to make sure the bugs that you reported will be fixed in the next version.</i18n>
                </p>
            </div>

        </div>

        <div id="footer">
            <p>
              <br/><i18n>Copyright</i18n> &copy; 2004-2007 <a href="http://born2code.org">Ariya Hidayat</a>
              <br/><i18n>Copyright</i18n> &copy; 2007-2009 <a href="http://www.blogger.com/profile/06430233725902328852">Helder Correia</a>
            </p>
        </div>

        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">_uacct = "UA-2092884-1"; urchinTracker();</script>

    </body>
</html>
