<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="speedcrunch, <i18n>calculator</i18n>" />
        <title><i18n>SpeedCrunch high-precision scientific calculator</i18n></title>
        <link rel="shortcut icon" href="../icons/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../css/speedcrunch.css" media="screen" />
    </head>

    <body>

        <div id="header">
            <div>
                <ul>
                    <li><a href="#learn"><i18n>Learn</i18n></a></li>
                    <li><a href="#download"><i18n>Download</i18n></a></li>
                    <li><a href="http://groups.google.com/group/speedcrunch"><i18n>Contact</i18n></a></li>
                    <li><a href="http://speedcrunch.blogspot.com/"><i18n>Follow</i18n></a></li>
                    <li>
                        <select onchange="window.location='http://speedcrunch.org/'+this.value;">
                            <option value=""><i18n>Choose language</i18n></option>
                            <option value="en_US">American English</option>
                            <option value="de_DE">Deutsch</option>
                            <option value="es_ES">Español</option>
                            <option value="fr_FR">Français</option>
                            <option value="it_IT">Italiano</option>
                            <option value="hu_HU">Magyar</option>
                            <option value="nl_NL">Nederlands</option>
                            <option value="pl_PL">Polski</option> value=""
                            <option value="pt_BR">Português do Brasil</option>
                            <option value="pt_PT">Português Europeu</option>
                            <option value="ru_RU">Русский</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-anchor no-border"></div>

        <div id="overview">
            <img src="../icons/icon.png"/>
            <img src="../images/headline.png"/>
            <img src="../images/screenshot2.png" style="margin-top: 30px;"/>
        </div>

        <div id="content">

            <div class="section-anchor">
                <div class="bottom-align">
                    <h1><i18n>Help the project</i18n></h1>
                </div>
            </div>
            <p>
                <i18n>If you find a bug or have a feature request, please enter it in our <a href="http://code.google.com/p/speedcrunch/issues/entry">issue tracker</a>.</i18n>
                <i18n>New features, bug fixes and translations are very welcome.</i18n>
                <i18n>If all you can share with us is your opinion, that's certainly valued as well.</i18n>
            </p>


            <div class="section-anchor">
                <div class="bottom-align">
                    <h1><i18n>License</i18n></h1>
                </div>
            </div>
            <p>
                <i18n>This program is open-source.</i18n>
                <i18n>You can redistribute and/or modify it under the terms of the <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.</i18n>
                <i18n>It is distributed in the hope that it will be useful, but without any warranty.</i18n>
            </p>

            <div id="learn" class="section-anchor">
                <div class="bottom-align">
                    <h1><i18n>Learn</i18n></h1>
                </div>
            </div>

            <h2><i18n>At your fingertip</i18n></h2>
            <p>
                <i18n>Just type an expression and press <tt>Enter</tt>.</i18n>
                <i18n>What you typed and its result will appear in the scrollable result display.</i18n>
                <i18n>Results can be immediately presented as you type without sending them to the history.</i18n>
            </p>

            <h2><i18n>A myriad of functions</i18n></h2>
            <p>
                <i18n>In addition to the basic algebraic operators, some common functions from mathematics, physics and electronics are available.</i18n>
                <i18n>Take advantage of function name auto-completion as you type, or browse all functions in a searchable table.</i18n>
                <i18n>Separate function arguments with a <tt>;</tt> (semicolon) character.</i18n>
            </p>

            <h2><i18n>Unlimited variables</i18n></h2>
            <p>
                <i18n>Store results in a variable, e.g. <tt>myVar = sin(1.23)</tt> which can be reused in <tt>y = 2*x</tt>.</i18n>
                <i18n>There is a special variable, <tt>ans</tt>, that always stores the result of the previous calculation.</i18n>
                <i18n>Another built-in variable, <tt>pi</tt>, holds one of the most important constants in the world.</i18n>
                <i18n>Like functions, variables are covered by auto-completion.</i18n>
            </p>

            <h2><i18n>Syntax highlighting</i18n></h2>
            <p>
                <i18n>Expressions can be colored according to their syntax.</i18n>
                <i18n>You can easily distinguish numbers, variables, functions and see matched parentheses.</i18n>
                <i18n>A number of color schemes are available.</i18n>
            </p>


            <h2><i18n>Up to 50 decimals of precision</i18n></h2>
            <p>
                <i18n>With complex calculations involving a chain of operations, this ensures a smaller rounding error at the end.</i18n>
                <i18n>Result formats like scientific and engineering are available.</i18n>
            </p>

            <h2><i18n>History repeats itself</i18n></h2>
            <p>
                <i18n>Bring back a previously entered expression with the up and down keyboard arrows.</i18n>
                <i18n>The (limited) expression history is saved between sessions and is therefore available even after application restart.</i18n>
            </p>

            <h2><i18n>Smart correction</i18n></h2>
            <p>
                <i18n>Typing <tt>sin</tt> followed by <tt>Enter</tt> is translated to <tt>sin(ans)</tt>.</i18n>
                <i18n>Also, functions don't require parentheses if a simple number or variable is used as argument, i.e. <tt>sin pi + 1</tt> is accepted as <tt>sin(pi) + 1</tt>.</i18n>
                <i18n>Closing parentheses can be skipped, e.g. <tt>cos(pi/4</tt> followed by <tt>Enter</tt> is automatically corrected to <tt>cos(pi/4)</tt>.</i18n>
            </p>

            <div id="download" class="section-anchor">
                <div class="bottom-align">
                    <h1><i18n>Download</i18n></h1>
                </div>
            </div>

            <h2><i18n>Version 0.10.1 (May 2008)</i18n></h2>

            <h3><img src="../icons/win.png" alt="Windows" style="vertical-align: middle; margin-right: 5px;" />Microsoft Windows</h3>

            <span class="indented">
                <p>
                    <i18n>Installer:</i18n>
                    <a href="http://speedcrunch.googlecode.com/files/SpeedCrunch-0.10.1.exe">SpeedCrunch-0.10.1.exe</a> (2.5 MB)
                </p>

                <p>
                   <i18n>To perform the installation, just click on the file to run it and then follow the step-by-step instructions.</i18n>
                   <i18n>After installed, run it from <i>Start</i> &gt; <i>All Programs</i>  &gt; <i>SpeedCrunch</i>.</i18n>
                </p>
                <p>
                    <i18n>Portable Edition:</i18n>
                    <a href="http://speedcrunch.googlecode.com/files/SpeedCrunch-0.10.1.zip">SpeedCrunch-0.10.1.zip</a> (2.4 MB)
                </p>
                <p>
                   <i18n>No installation.</i18n>
                   <i18n>Take it everywhere.</i18n>
                   <i18n>Simply download the archive, extract and run by clicking on the executable file inside.</i18n>
                </p>

            </span>

            <h3><img src="../icons/mac.png" alt="Mac OS X" style="vertical-align: middle; margin-right: 5px;" />Mac OS X</h3>

            <span class="indented">
                <p>
                    <i18n>Universal Binary bundle:</i18n>
                    <a href="http://speedcrunch.googlecode.com/files/SpeedCrunch-0.10.1.dmg">SpeedCrunch-0.10.1.dmg</a> (6.6 MB)
                </p>
                <p>
                    <i18n>It should work on Mac OS X 10.3 (Panther) and above.</i18n>
                </p>
            </span>

            <h3><img src="../icons/tux.png" alt="Linux" style="vertical-align: middle; margin-right: 5px;" />Linux</h3>

            <span class="indented">
                <p>
                    <i18n>SpeedCrunch is available on all major Linux distributions.</i18n>
                    <i18n>Please use your distribution's software center application to search and install Speedrunch.</i18n>
                    <i18n>Note that packages available from distributions are not necessarily the latest version.</i18n>
                </p>
            </span>

            <h3><img src="../icons/tar.png" alt="<i18n>Source code</i18n>" style="vertical-align: middle; margin-right: 5px;" /><i18n>Source code</i18n></h3>

            <span class="indented">
                <p>
                    <i18n>Tarball:</i18n> <a href="http://speedcrunch.googlecode.com/files/speedcrunch-0.10.1.tar.gz">speedcrunch-0.10.1.tar.gz</a> (1.6 MB)</li>
                </p>
                <ul>
                    <li><i18n>Extract to temporary directory</i18n></li>
                    <li><i18n>Run <tt>cmake .</tt> from the <tt>src</tt> folder, followed by <tt>make</tt></i18n></li>
                    <li><i18n>Install with <tt>make install</tt> (might need administration privileges)</i18n></li>
                </ul>
                <p>
                    <i18n>NOTE: the following tools and libraries are required:</i18n>
                </p>
                <ul>
                    <li><i18n><a href="http://www.cmake.org">CMake</a> (minimum version 2.4.4)</i18n></li>
                    <li><i18n><a href="http://qt.digia.com">Qt</a> (minimum version 4.6 and including development environment)</i18n></li>
                </ul>
            </span>

            <h3><img src="../icons/git.png" alt="<i18n>Development repository</i18n>" style="vertical-align: middle; margin-right: 5px;" /><i18n>Development repository</i18n></h3>

            <span class="indented">
                <p>
                    <i18n>Clone one of the redundant Git repositories:</i18n>
                </p>
                <ul>
                    <li><a href="https://github.com/speedcrunch/SpeedCrunch">GitHub</a></li>
                    <li><a href="https://gitorious.org/speedcrunch/mainline">Gitorious</a></li>
                    <li><a href="https://code.google.com/p/speedcrunch/source/checkout">Google Code</a></li>
                </ul>
            </span>

            <div id="footer" class="section-anchor">
                <div class="bottom-align">
                </div>
            </div>

        </div>

    </body>
</html>
